/* Orders Page */
body {
  background: #f5f5f5;
}
.orders,
.menu,
.tokens {
  background: #f5f5f5;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  width: 100%;
}

.orders .head,
.menu .head,
.tokens .head {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px;
}

.orders .head h4,
.menu .head h4 {
  color: #000000b0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.orders .head input,
.menu .head input,
.tokens .head input {
  border: 0;
  border-radius: 15px;
  padding: 0 15px;
  background-color: #fff;
  margin-top: 8px;
  width: 100px;
}

.orders .head input:focus,
.menu .head input:focus,
.tokens .head input:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.orders .head input::placeholder {
  /* color: #000000; */
}

.orders .body,
.menu .body,
.tokens .body {
  overflow-y: scroll;
  max-height: 78vh;
}

.orders .no-orders,
.menu .no-menu,
.tokens .no-tokens {
  margin-top: 10%;
}

.no-orders img,
.no-menu img,
.no-tokens img {
  height: 200px;
}

.no-orders p,
.no-menu p,
.no-tokens p {
  font-size: 20px;
}

.no-orders,
.no-tokens {
  text-align: center;
}

.no-orders button,
.no-tokens button {
  background: rgb(68, 60, 133);
  color: #f5f5f5;
}

.order {
  border-radius: 15px;
  padding: 30px 20px;
  /* box-shadow: 0px 8px 21px 1px rgb(179, 177, 177); */
  box-shadow: 0px 0px 2px -1px rgb(179, 177, 177);
  margin-bottom: 15px;
  background-color: #fff;
}

.order .date {
  color: #8b8b8bf0;
}

.order .details {
  border: 0;
  line-height: 2;
}

.order .details p {
  font-size: 18px !important;
  color: rgb(68, 60, 133);
  font-weight: 600;
}

.order .details .title {
  width: 75%;
  font-weight: 600;
}

.order .details .cost {
  width: 25%;
  text-align: right;
}

.order .user {
  border: 0;
}

.order .user p {
  margin: 0;
}

.order .user p i {
  position: relative;
  top: 3px;
}

.order .user p span {
  text-transform: capitalize;
}

/* .order .user img {
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(68, 60, 133)
} */

/* General */
.filter-text {
  position: fixed;
  color: rgb(68, 60, 133);
  bottom: -5px;
  right: 5px;
  font-size: 20px;
}

.filter-text i {
  position: relative;
  top: 5px;
}

button.colored {
  background-color: rgb(68, 60, 133);
}

.close,
.add-item {
  color: rgb(68, 60, 133);
  cursor: pointer;
  border: 0;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9;
}

.modal-content .form div {
  border: none !important;
  margin-bottom: 0;
}

.modal-content .form div.input-field {
  margin: 0 0 15px;
}

.modal-content .form div.input-field:last-of-type {
  margin: 0;
}

.modal-content .form div p,
.modal-content .form div .switch label {
  font-size: 14px;
}

.modal-content div.delete {
  border-top: 0 !important;
  transition: all 0.5s ease;
}

.modal-content div.delete p {
  font-size: 16px;
}

.category-item {
  margin: 0 0 5px !important;
}
p.range-field {
  margin: 0 !important;
}

.token-add {
  height: 30px;
}

.add-token {
  margin: 10%;
}

.add-token input {
  font-size: 24px !important;
}

.add-token input::placeholder {
  font-size: 16px;
}

.add-token .flex {
  border: 0;
}

.add-token .flex span {
  padding-bottom: 10px;
  color: rgb(68, 60, 133);
  border-bottom: 2px solid rgb(68, 60, 133);
  width: 50px;
  text-align: center;
  font-size: 24px;
}

.add-token .flex button {
  border: 0;
  padding: 15px;
  margin: 5px;
  color: #fff;
  background-color: rgb(68, 60, 133);
}

.add-token .btn-block {
  color: #fff;
  background-color: rgb(68, 60, 133);
  text-align: center;
  width: 100%;
  /* border-top: 2px solid #000000b0;
  padding-top: 10px; */
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: rgb(68, 60, 133);
  border: 2px solid rgb(68, 60, 133);
}
