.cart-container {
  padding: 20px;
}

.cart-head th,
.cart-foot td {
  font-size: 26px;
  font-weight: 600;
}

.cart-foot td:first-of-type {
  text-align: center;
}

.foodName td,
input[type="number"]:not(.browser-default) {
  font-size: 20px;
}

input[type="number"]:not(.browser-default) {
  border-bottom: 2px solid #7681b0 !important;
  box-shadow: none !important;
}

input[type="number"]:not(.browser-default):focus {
  box-shadow: none !important;
  outline: none;
}

input.valid[type="number"]:not(.browser-default),
input.valid[type="number"]:not(.browser-default):focus {
  border-bottom: 2px solid #7681b0 !important;
  box-shadow: none !important;
}

.cart-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
}

.cart-footer button {
  padding: 20px;
  width: inherit;
  background-color: #443c87;
  /* background: #7681b0; */
  border: 0;
}

.cart-footer button i {
  font-size: 40px;
  color: #f5f5f5;
}

.cancel {
  width: 100%;
  border-radius: 15px;
  margin: 15px 0;
  background-color: #f5f5f5;
  border: 0;
  color: red;
  font-size: 16px;
  font-weight: 600;
}

.cancel:hover {
  background-color: #f4f6f6 !important;
}
