.dashboard {
}

.dashboard-header {
  background-color: #443c87;
  height: 200px;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  width: 100%;
  top: 5%;
  z-index: 5;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
}

.dashboard-header h5 {
  text-transform: capitalize;
  color: #f5f5f5;
  font-size: 30px;
}

.dashboard-header p {
  color: #f5f5f5;
  font-size: 18px;
}

.dashboard-header img {
  height: 100px;
}

.dashboard-card {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  background-color: #f5f5f5;
  margin: 0 auto;
  width: 50%;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  top: 15px;
}

.dashboard-card p {
  color: #000;
  margin: 0;
  font-size: 16px;
}

.dashboard-card hr {
  /* border: 1px solid; */
  height: 20px;
  margin: 0;
  width: 0px;
}

.home-list {
  margin-top: 60%;
}

.menu-heading {
  font-size: 20px;
  margin: 15px;
}

.menu-list-heading span {
  float: right;
}

.food-card {
  padding: 15px;
  text-align: center;
}

.food-card img {
  height: 100px;
}

.food-card p {
  font-size: 18px;
  margin: 0;
  width: 110%;
  margin-left: -5%;
  font-weight: 600;
}

.food-card p span {
  color: #443c87;
  font-size: 16px;
}

.food-card .food-price {
  display: flex;
  justify-content: space-between;
}

.order-heading {
  font-size: 18px;
  font-weight: 600;
}

.order-body {
  font-size: 18px;
}

.no-orders {
  margin: 0 auto;
  padding: 10%;
  font-size: 24px;
  text-align: center;
}

.none {
  margin: 30% auto;
  text-align: center;
}

.none p {
  font-size: 18px;
  padding: 0 50px;
}

.none img {
  height: 180px;
  margin-top: 10%;
}

.flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #00000059;
  border-top: 0 !important;
}

.flex p {
  font-size: 16px !important;
  margin: 0;
}

.no-border {
  border-bottom: 0;
}

.no-border:last-of-type {
  border-bottom: 2px solid #00000059;
}

.blur {
  opacity: 0.5
}

/* #token {
  display: none;
  position: relative;
  top: -45px
}

.showToken {
  font-size: 26px;
  border-bottom: 2px solid #443c87;
}

.showToken p {
  margin: 0;
} */