.food-menu {
  background: #f5f5f5;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -10px;
}

.food-menu .category {
  background: #fff;
  text-align: center;
  margin: 0 75px 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 35px;
}

.food-menu .category div {
  margin: 0;
  padding: 15px;
}

.food-menu .category p {
  margin: 0;
}

.food-menu h4 {
  margin: 0;
  color: #000000b0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-card p {
  margin: 0;
  font-size: 16px;
  position: relative;
  top: -3px;
}

.caret {
  position: relative;
  top: 8px;
}

.menu-list {
  min-height: 500px;
  /* padding: 15px; */
}

.food-item {
  height: 165px;
  border-radius: 10px;
  border: 2px solid #7681b0;
  margin: 20px 0px;
  background-size: 100% 100%;
  position: relative;
}

.food-content {
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.food-content h5 {
  text-transform: uppercase;
  float: left;
  width: 50%;
  font-size: 22px !important;
  font-weight: 400;
}

.food-content h5,
.food-content p {
  margin: 0;
}

.food-content p {
  font-size: 24px;
  float: right;
  line-height: 1;
}

.qty {
  font-size: 18px;
  float: left;
  text-transform: lowercase;
}
.picked {
  opacity: 1;
}
.checked {
  position: relative;
  float: right;
}
.checked i {
  font-size: 36px;
  z-index: 9;
  position: absolute;
  color: #443c87;
  right: 0;
}

.loader,
.none {
  margin: 50% auto;
  text-align: center;
}

.none {
  margin: 30% auto;
}

.loader p,
.none p {
  font-size: 18px;
  padding: 0 50px;
}

.none img {
  height: 180px;
}

#status {
  max-height: 30%;
}