nav {
  background-color: rgb(68, 60, 133) !important;
  position: fixed;
  border-radius: 10px;
  z-index: 9;
  top: 0px;
}

.no-shadow {
  box-shadow: none !important;
}

nav .brand-logo {
  color: #f5f5f5;
  font-size: 22px;
  text-transform: capitalize;
}

.login {
  position: relative;
  font-size: 42px !important;
  left: 15px;
}

nav i.material-icons {
  font-size: 32px;
  display: inline-block;
}

ul:not(.browser-default) > li {
  border-bottom: 1px solid #f5f5f5;
}

ul:not(.browser-default) > li:first-of-type,
ul:not(.browser-default) > li:last-of-type {
  border-bottom: 0;
}

.sidenav {
  height: 100%;
}

.sidenav li > a {
  font-size: 20px;
  color: rgb(68, 60, 133);
}

.sidenav li.active {
  background: rgb(68, 60, 133) !important;
}

.sidenav li.active > a > i,
.sidenav li.active > a {
  color: #f5f5f5 !important;
}

.sidenav li > a > i {
  font-size: 26px;
  color: rgb(68, 60, 133) !important;
}

.logo {
  background: rgb(68, 60, 133);
  height: 60px;
  display: flex;
  justify-content: space-evenly;
}

.logo h5 {
  color: #f5f5f5;
}

.logo img {
  height: 50px;
  margin: 5px;
}

.profile {
  text-align: center;
  color: rgb(68, 60, 133) !important;
  margin: 10%;
  border-bottom: 0 !important;
}

.profile img {
  height: 200px;
  border: 2px solid rgb(68, 60, 133);
  border-radius: 50%;
  margin: 0;
}

.profile h5 {
  font-size: 26px;
  margin: 0;
}

.profile p {
  margin: 0;
  font-size: 24px;
}

.footer {
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  padding: 5px;
  bottom: 0;
  text-align: center;
  font-size: 14px;
}

.link-text {
  float: right;
  margin: 0 15px;
  margin-top: -10px;
}

.link-text p {
  color: #f5f5f5;
  margin: 0;
  font-size: 20px;
}

.link-text p i {
  position: relative;
  top: 10px;
}

#category {
  max-height: 70%;
}

#status {
  max-height: 45%;
}

#tokenStatus {
  max-height: 37%;
}

.modal-content h5 {
  color: #7681b0 !important;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 600;
}

.modal-content div {
  border-top: 2px solid #00000059;
}

.modal-content div:first-of-type {
  border-top: 0;
}

.modal-content div p {
  font-size: 20px;
  margin: 10px 0;
  color: #000000;
}

.modal-footer p {
  font-size: 16px;
  color: red;
}

.small-img {
  height: 50px;
  float: right;
  margin-right: 10px;
  border: 2px solid;
  border-radius: 50%;
}
