nav {
  background-color: #443c87 !important;
  position: fixed;
  z-index: 9;
  top: 0px;
}

nav .brand-logo {
  color: #f5f5f5;
  font-size: 22px;
  text-transform: capitalize;
}

.login {
  position: relative;
  font-size: 42px !important;
  left: 15px;
}

nav i.material-icons {
  font-size: 32px;
  display: inline-block;
}

.cart {
  position: absolute;
  right: 5%;
}

.cart i.material-icons {
  font-size: 42px;
}

ul:not(.browser-default) > li {
  border-bottom: 1px solid #f5f5f5;
}

ul:not(.browser-default) > li:first-of-type,
ul:not(.browser-default) > li:last-of-type {
  border-bottom: 0;
}

.sidenav {
  height: 100%;
}

.sidenav li > a {
  font-size: 20px;
  color: #443c87;
}

.sidenav li.active {
  background: #443c87 !important;
}

.sidenav li.active > a > i,
.sidenav li.active > a {
  color: #f5f5f5 !important;
}

.sidenav li > a > i {
  font-size: 26px;
  color: #443c87 !important;
}

.logo {
  background: #443c87;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
}

.logo h5 {
  color: #f5f5f5;
}

.logo img {
  height: 50px;
  margin: 5px;
}

.profile {
  text-align: center;
  color: #443c87 !important;
  margin: 10%;
  border-bottom: 0 !important;
}

.profile img {
  height: 200px;
  border: 2px solid #443c87;
  border-radius: 50%;
  margin: 0;
}

.profile h5 {
  font-size: 26px;
  margin: 0;
}

.profile p {
  margin: 0;
  font-size: 24px;
}

.footer {
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  padding: 5px;
  bottom: 0;
  text-align: center;
  font-size: 14px;
}

.picked_no {
  position: absolute;
  right: 15px;
  color: red;
  font-size: 20px;
  top: -8px;
  z-index: 9;
  font-weight: 600;
}
