.settings-page {
  margin-top: -5px;
}

.pw-field input {
  font-size: 26px;
}
.pw-field label {
  font-size: 20px;
}
.faq__item {
  border-bottom: 2px solid rgb(68, 60, 133);
}

.faq__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  padding: 15px 0;
  font-size: 22px;
  border-bottom: 2px solid rgb(68, 60, 133);
}

.faq__header span {
  display: flex;
  justify-content: flex-start;
}

.faq__header.active .minus {
  display: inline;
}

.faq__header.active .plus {
  display: none;
}

.faq__header .minus {
  display: none;
}

.faq__header .plus {
  display: inline;
}

.faq__header.active span {
  color: rgb(68, 60, 133);
}

.faq__header:hover span {
  color: rgb(68, 60, 133);
}

.faq__header span {
  color: rgb(68, 60, 133);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
}
.faq__content {
  padding: 12px 30px;
  padding-bottom: 0;
  font-size: 0.9rem;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.faq__content a {
  color: rgb(68, 60, 133);
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  display: inline-block;
  padding-bottom: 1px;
}

.faq__item {
  height: auto;
  overflow: hidden;
  -webkit-transition: height 0.3s linear;
  transition: height 0.3s linear;
}

.avatar-showcase {
  margin-bottom: 0;
}

.avatar img {
  height: 120px;
  border: 2px solid rgb(68, 60, 133);
  border-radius: 50%;
  padding: 10px;
  margin-top: 8px;
}

.avatar img:nth-child(2n) {
  margin-left: 10px;
}

.picked-img {
  background: linear-gradient(45deg, rgb(68, 60, 133), #fff);
}
