.signin-page {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg.jpg") no-repeat center center fixed;
  /* url(/static/media/bg.143774a2.jpg) no-repeat center center fixed */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 105vh;
  background-size: cover;
  position: fixed;
  margin-top: -15%;
  width: 100%;
  text-align: center;
}

.home i {
  color: #f5f5f5;
  padding: 15px;
  position: absolute;
  right: 0;
  font-size: 28px;
}

.logo-container,
.signin-btn {
  text-align: center;
}

.logo-container img {
  height: 80px;
  margin: 25% auto 20%;
}

.signin-form {
  padding: 0 50px;
}

.signin-form .input-field input,
.signin-form .input-field label {
  font-size: 20px;
  color: #f5f5f5;
}

.signin-form .input-field label.active {
  color: #f5f5f5 !important;
  font-size: 18px;
}

.signin-form .input-field input {
  border-bottom: 2px solid #f5f5f5;
}

.signin-form .input-field input:focus {
  border-bottom: 2px solid #f5f5f5 !important;
  box-shadow: 0 1px 0 0 #f5f5f5 !important;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  box-shadow: 0 1px 0 0 #f5f5f5 !important;
}

/* input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  
} */

.input-field .prefix {
  color: #f5f5f5;
}

.input-field .prefix.active {
  color: #f5f5f5 !important;
  /*  */
}

.view-pass {
  position: absolute;
  top: 10px;
  color: #f5f5f5;
  right: 10px;
}

.signin-btn button {
  border: 2px solid #7681b0;
  /* color: rgb(68, 60, 133); */
  font-weight: 600;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  width: 50%;
  margin: 5% 0;
  background-color: rgb(68, 60, 133);
  color: #f5f5f5;
}

.signin-btn button:hover {
  background-color: rgb(68, 60, 133);
  color: #f5f5f5;
}

.helper-text {
  font-size: 16px !important;
  color: rgb(244, 67, 54) !important;
  font-weight: bold;
}

/* .pass-bg {
  background: linear-gradient(45deg, black, transparent);
} */
